@import "../assets/styles/variables";
@import "../assets/styles/mixins";

$main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;

a,
a:hover {
    transition: color 0.3s ease-in-out;
}

/* Cards */
.postcard {
    flex-wrap: wrap;
    display: flex;

    box-shadow: 2px 2px 15px rgba($quaternary-color, 0.5);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;

    &.light {
        background-color: lighten($secondary-color, 5%);
    }

    .t-dark {
        color: darken($primary-color, 10%);
    }

    a {
        color: inherit;
    }

    .h1 {
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }

    .small {
        font-size: 80%;
    }

    .postcard__title {
        font-size: 1.75rem;

        &--subtitle {
            font-size: 0.8rem;
            padding-bottom: 0.5rem;
            font-weight: 400;
            color: $quaternary-color;
            &.is-invalid {
                color: $invalid-color;
            }
        }

        &--input {
            font-size: 28px;
            font-weight: 700;
            width: 100%;
            letter-spacing: 1px;
            border: 1px solid rgba($primary-color, 0.3);
            padding: 0.3rem;
            transition: 0.4s;
            background: transparent;

            &:focus {
                outline: 1px solid $primary-color;
            }
            &.is-invalid {
                border: 1px solid $invalid-color;
            }
        }
    }

    .hidden-input {
        position: absolute;
        width: 0%;
        height: 0%;
        opacity: 0;
        cursor: pointer;
    }

    .postcard__subtitle {
        &--icon {
            margin-right: 0.5rem;
        }
    }

    .postcard__img {
        max-height: 180px;
        width: 100%;
        object-fit: cover;
        position: relative;
    }

    .create__img {
        cursor: pointer;
    }

    .postcard__img_link {
        display: contents;
    }

    .postcard__img--subtitle {
        margin: 0 auto;
        text-align: center;
        & > .is-invalid {
            color: $invalid-color;
        }
    }

    .postcard__bar {
        width: 50px;
        height: 10px;
        margin: 10px 0;
        border-radius: 5px;
        transition: width 0.2s ease;
    }

    .postcard__text {
        padding: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .postcard__preview-txt {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        height: 100%;
    }

    .postcard__preview--input {
        width: 100%;
        resize: vertical;
        padding: 0.5rem;
        min-height: 7rem;
        &:focus {
            outline: none;
            border: 2px solid $primary-color;
        }
    }

    .postcard__tagbox {
        display: flex;
        flex-flow: row wrap;
        font-size: 14px;
        margin: 20px 0 0 0;
        padding: 0;
        justify-content: center;

        &--icon {
            margin-right: 0.5rem;
        }

        .tag__item {
            display: inline-block;
            background: rgba($quaternary-color, 0.4);
            border-radius: 3px;
            padding: 0.5rem;
            margin: 0 5px 5px 0;
            cursor: default;
            user-select: none;
            transition: background-color 0.3s;

            &.submit {
                background-color: $primary-color;
                color: $secondary-color;
                display: flex;
                border-radius: $border-radius;
                &.reset {
                    background-color: $invalid-color;
                }
            }

            &--link {
                cursor: pointer;
                &.link__submit {
                    background-color: transparent;
                    border: none;
                    color: $secondary-color;
                }
                &.link__reset {
                    background-color: transparent;
                    border: none;
                    color: $secondary-color;
                }
            }

            &.positive {
                background-color: rgba($valid-color, 0.3);

                &.has-likes {
                    background-color: rgba(limegreen, 0.8);
                }
                &:hover {
                    background-color: rgba($valid-color, 0.8);
                }
            }

            &.negative {
                background-color: rgba($invalid-color, 0.3);
                padding: 0.5rem;
                &.has-dislikes {
                    background-color: rgba(red, 0.8);
                }
                &:hover {
                    background-color: rgba($invalid-color, 0.8);
                }
            }

            &:hover {
                background: rgba(83, 83, 83, 0.8);
                color: $secondary-color;
                cursor: pointer;
            }
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(-70deg, #424242, transparent 50%);
        opacity: 1;
        border-radius: 10px;
    }

    &:hover .postcard__bar {
        width: 100px;
    }
}

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;

        .postcard__title {
            font-size: 2rem;
        }

        .postcard__tagbox {
            justify-content: start;
        }

        .postcard__img {
            max-width: 300px;
            max-height: 100%;
            transition: transform 0.3s ease;
        }

        .unInputtedImage {
            display: grid;
        }

        .postcard__text {
            padding: 3rem;
        }

        .media.postcard__text:before {
            content: "";
            position: absolute;
            display: block;
            top: -20%;
            height: 130%;
            width: 55px;
        }

        &:hover .postcard__img {
            transform: scale(1.1);
        }

        &:nth-child(2n + 1) {
            flex-direction: row;
        }

        &:nth-child(2n + 0) {
            flex-direction: row-reverse;
        }

        &:nth-child(2n + 1) .postcard__text::before {
            left: -12px !important;
            transform: rotate(4deg);
        }

        &:nth-child(2n + 0) .postcard__text::before {
            right: -12px !important;
            transform: rotate(-4deg);
        }
    }
}
@media screen and (min-width: 1024px) {
    .postcard__text {
        padding: 2rem 3.5rem;
    }

    .postcard__text:before {
        content: "";
        position: absolute;
        display: block;

        top: -20%;
        height: 130%;
        width: 55px;
    }

    .postcard.light {
        .postcard__text:before {
            background: lighten($secondary-color, 5%);
        }
    }
}

/* COLORS */
.postcard .postcard__tagbox .blue.play:hover {
    background: $tertiary-color;
}
.blue .postcard__title:hover {
    color: $tertiary-color;
}
.blue .postcard__bar {
    background-color: $tertiary-color;
}
.blue::before {
    background-image: linear-gradient(-30deg, rgba($quaternary-color, 0.2), transparent 50%);
}
.blue:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba($quaternary-color, 0.2), transparent 50%);
}

@media screen and (min-width: 769px) {
    .blue::before {
        background-image: linear-gradient(-80deg, rgba($quaternary-color, 0.2), transparent 50%);
    }
    .blue:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba($quaternary-color, 0.2), transparent 50%);
    }
}
