@mixin linear-gradient($direction, $color-stops...) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin flex-center($alignment: center, $justification: center, $direction: null) {
    display: flex;
    align-items: $alignment;
    justify-content: $justification;

    @if $direction != null {
        flex-direction: $direction;
    }
}
