$primary-color: #03045e;
$secondary-color: #caf0f8;
$tertiary-color: #0077b6;
$quaternary-color: #00b4d8;
$quinary-color: #90e0ef;

$valid-color: #4caf50;
$invalid-color: #f44336;
$shadow-color: #000;

// Radius

$border-radius: 2.5rem;
