@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "./variables";

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  &:visited {
    color: inherit;
  }
}

.main-bg {
  background: linear-gradient(to bottom, $primary-color, darken($primary-color, 10%), darken($primary-color, 20%));
}
